input ,textarea{
    width:50%;
    border:1px solid #c4c4c4;
    border-radius: 4px;
    padding: 7px;
    
    
  }
  
  
  div #main{
    background:white;
    opacity: 0.95;
    height: 40%;
    padding:30px;
    margin:20px 350px;
    text-align: center;
  }
  div #homemain{
    background:white;
    opacity: 0.95;
    height: 40%;
    padding:30px;
    margin:120px 170px;
    text-align: center;
    z-index: -1;
  
  }
  div #secondary{
    background-color: white;
    margin: 20px 350px;
    padding:50px;
    text-align: center;
  }
  div #ui{
    
    padding-top: 10px;
    padding-bottom: 160vh;
    
  }
  body{
    background: #00C9FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #92FE9D, #00C9FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  div{
    margin:0 0 0 -2px;
    text-align: center;
  }
  
  label{
    margin-right: 20px;
  }
  
  h1{
    text-align: center;
    margin:40px;
  }
  
  button{
    background-color: rgb(39, 82, 163);
    color:white;
    border-radius: 4px;
    border:none;
    margin:10px;
    padding:8px
  }
  
  #nav{
    background-color: white;
    padding: 15px;
    margin:0px;
  }
  span #link{
    text-decoration: none;
    text-align: left;
  }