div #unorder{
    text-align: center;
}

div #buttonsright{
    text-align: right;
    display: block;
    
}
ul{
    list-style: none;
    
    margin-right:300px;
    margin-left:300px;
   
}
li{
    background-color: white;
    margin: 80px;
    padding:30px;
   
}
button{
    width:70px;
}